---
import {site, infoLinks} from "../consts";
---

<div class="shadow-lg rounded-lg h-64 w-auto flex flex-col items-center justify-center bg-skin-card p-2">
  <img class="avatar mb-4" src={site.avatar} alt="avatar"/>
  <div class="mb-2 text-center">{site.motto}</div>
  <div class="flex items-center justify-center flex-wrap">
    {
      infoLinks.map((infoItem) => (
        <a title={infoItem.name} href={infoItem.outlink} target="_blank">
          <i class={infoItem.icon + " text-2xl mr-2 cursor-pointer"}/>
        </a>
      ))
    }
    <a title={'掘金'} href={'https://juejin.cn/user/501033035376615'} target="_blank">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-juejin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 12l10 7.422l10 -7.422" /><path d="M7 9l5 4l5 -4" /><path d="M11 6l1 .8l1 -.8l-1 -.8z" /></svg>
    </a>
  </div>
</div>
